* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #c9d1d9;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 200px;
    flex-direction: column;
    background-color: #0D1117;
}

input {
    padding: 4px 8px;
    background-color: #2a2a2d;
    color: #9ca3ab;
    border: 1px solid #15181c;
    height: 30px
}

button {
    padding: 4px 8px;
    background-color: #272c34;
    color: #c9d1d9;
    border: 1px solid #15181c;
    height: 30px;
    cursor: pointer;
}

input:focus {
    outline: 0;
}

img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    position: relative;
    left: -60vw;
    margin: 20px 0;
}

h1, .in-animation {
    display: none;
}

.help-text {
    margin: 10px 0;
    font-size: 12px;
    color: #9da2a7;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
